h1 Services
br
#services
  #ssh.service
    .service-status
    p SSH
    p.last-updated last updated
      span.last-updated-time
  #http.service
    .service-status
    p HTTP
    p.last-updated last updated
      span.last-updated-time
script(src='/javascripts/socket.js')